body{
    background-color:aqua;
}
#div1{
    background-color: rgb(167, 79, 145);
    text-align: center;
}
#div2{
    background-color: rgb(9, 158, 21);
    text-align: center;
}
#p1{
    float:right;
}
.bg1{
    background-color:rgb(104, 108, 165);
    border: none;
    color: black;
    padding : 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}