body{
    background-color: aqua;
    text-align: center;
}
h1{
    background-color: brown;   
}
button{
    border:2px solid black;
    background-color: #da0a0a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;    
}