.container{
    border: 1px solid brown;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 32% 32% 32%;
    background-color: black;
    padding: 20px;
    grid-column-gap:30px;
    grid-row-gap: 30px;
}
.item{
    border: 2px solid red;
    height: 300px;
}
 .item:first-child{
    background-image: url("https://i.pinimg.com/736x/ab/26/c2/ab26c2360ca97904e4163d6089e33b73.jpg" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
} 
.item:nth-child(2){
    background-image: url("https://img.freepik.com/premium-vector/gym-logo_219982-7.jpg" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
} 
.item:nth-child(3){
    background-image: url("https://miro.medium.com/max/1400/0*ER1NP0pNCBvZ9a1_.png" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.item:nth-child(4){
    background-image: url("https://as2.ftcdn.net/v2/jpg/03/65/25/27/1000_F_365252729_sF3zL5hdd5lVfTv8a2oRTHq5ZRJgZ9PI.jpg" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.item:nth-child(5){
    background-image: url("https://images-platform.99static.com//ULNPN3ErVEICtc61V_xtgCdDRW0=/0x0:960x960/fit-in/500x500/projects-files/58/5803/580380/18e5f1ed-7984-43fc-89ff-d9ab62adf980.jpg");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.item:nth-child(6){
    background-image: url("https://cms-assets.tutsplus.com/cdn-cgi/image/width=630/uploads/users/2660/posts/32516/image/sports-logo-maker-featuring-for-a-fitness-center-1427-el1.jpg" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.item:nth-child(7){
    background-image: url("https://i.pinimg.com/originals/34/50/17/345017f2ec2ac8de05e363de96bb0e11.jpg" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.item:nth-child(8){
    background-image: url("https://i.pinimg.com/736x/34/1a/51/341a511ab847217e72745903aed39fe8.jpg" );
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.item:nth-child(9){
    background-image: url("https://webneel.com/daily/sites/default/files/images/daily/04-2019/26-logo-design-gym-fitness-masterlevsha.gif" );
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
}
div.item:hover{
    opacity: 0.5;
}
